.verMais{
    text-align: center;
    max-width: 50%;
    margin: auto;
}
.verMais h1{
    color: #222222;
}
.verMais p{
    color: #505050;
}
.verMais img{
    width: 100%;
    margin: 20px 0;
}
.conteudo{
    text-align: justify;
}
#conteudo-post{
    text-align: left;
}

@media screen and (max-width: 768px){ 

    .verMais{
        max-width: 100%;
        margin: 18px;
    }
    #conteudo-post{
        text-align: justify;
    }
  }