h1{
    color: #222222;

}
.criarPost-area{
    background-color: #F5F5F5;
}
main {
    display: flex;
    justify-content: center;
    padding: 3rem 0;
}

.card-post {
    margin: auto;
    max-width: 70%;
    
    /* background-color: #F5F5F5; */
    padding: 30px 70px;
    border-radius: 15px;
}

.card-post h1{
    font-family: Heebo;
    font-weight: 800;
    text-align: center;

    font-size: 3rem;
    margin-bottom: 5px;
}

.line-post {
    height: 2px;
    background-color: #3E445B;
}
.titulo{
    background-color: #fff;
    border-bottom: solid 1px black;
}
.card-body-post {
    margin-top: 25px;

}

.fields {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 7px;
    font-size: 1.2rem;

    color: #222222;

    font-family: Poppins;
}

input, textarea {
    width: 100%;
    border-radius: 10px;
    border: 0;
    outline: 0;

    font-size: 1.2rem;

    padding-left: 15px;
}

input {
    height: 45px;
}

textarea {
    height: 100vh;
    resize: none;

    padding-top: 10px;
}

.btn-post{
    margin-top: 30px;
    text-align: center;
    position: fixed;
    right: 0;
    top: 10px;
}

.btn-post button{
    font-family: Heebo;
    font-weight: 800;
    font-size: 1.3rem;

    padding: 5px 50px;
    margin: 0 50px;
    color: #fff;
    background-color: #3DECB1;

    border: 0;
    border-radius: 10px;

    cursor: pointer;

}

.error-message {
    color: rgb(240, 47, 47);
}

.testee{
    color: red;
}