.admin-card{
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: auto;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;

    transition: 0.2s;
}
.admin-card:hover{
    box-shadow: 3px 3px 9px #505050;

}
.admin-card h2{
    color: #222222;
}
.admin-card a p{
    color: #505050;
}
.admin-link{
    display: flex;
    justify-content: space-around;
    text-decoration: none;
}
.admin-link div{
    padding: 10px 20px;
}
.admin-link img{
    width: 150px;
    border-radius: 7px;

}

.admin-funcoes{
    margin: 20px 0;
    list-style-type: none;
    justify-content: space-around;
}
.admin-funcoes li{
    padding: 6px 22px;
    border-radius: 5px;
    margin: 6px 0;
}
.admin-funcoes a{
    text-decoration: none;
    color: #ffff;
}
.admin-funcoes li{
    color: #ffff;

}

@media screen and (max-width: 768px){ 
   .admin-corpo{
        width: calc(100% - 52px);
        margin: 18px;
    }
   .admin-card{
        width: 100%;
        padding: 10px;
        flex-direction: column;
        margin: 0;
   }
 
   .admin-link img{
    width: 30%;
   }
   .admin-funcoes{
        margin-bottom: 0px;
        text-align: center;
   }
}