footer{
    text-align: center;
    padding: 100px 0;
}
.rodape{
    list-style-type: none;
    align-items: center;
    justify-content: center;
    display: flex;
}
.rodape li{
    max-width: 37px;
    padding: 10px;
}
.rodape li img{
    width: 100%;
}
footer p{
    margin: 15px 0;
}